.dashboard-oee-layout {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 315px;
  padding: 0px;
}

.dashboard-oee-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 10px 15px 0px 15px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    #363636 0%,
    var(--backgroundColor) 100%
  ) ;
  border-radius: 10px;
}

.dashboard-oee-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dashboard-oee-title {
  margin-left: 15px;
  font-size: 20px;
}

.dashboard-oee-content {
  position: absolute;
  top: 70px;
  left: 10px;
  right: 10px;
  bottom: 20px;
  background-color: transparent;
}
