.input-password .ant-input-password {
  height: 45px;
  border-radius: 7px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  font-family: regularFont;
  font-size: 16px;
  color: var(--lightGreyColor);
}

.input-password .ant-input{
  color: var(--lightGreyColor);
}

.input-password .ant-input-affix-wrapper > input.ant-input{
  background-color: transparent;
}

.input-password .ant-input-password-icon{
  color: var(--lightGreyColor);
}

.phone-input-password-wrong {
  border: 1px solid var(--redColor);
}

.phone-input-password-correct {
  border: 1px solid var(--greyColor);
}

@media screen and (max-width: 1024px) {
  .input-password .ant-input-password {
    height: 45px;
    border-radius: 7px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-family: regularFont;
    font-size: 16px;
    color: var(--lightGreyColor);
  }
}
@media screen and (max-width: 768px) {
  .input-password .ant-input-password {
    height: 45px;
    border-radius: 7px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-family: regularFont;
    font-size: 16px;
    color: var(--lightGreyColor);
  }
}
