<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="seemesave.businesshub">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
        

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/txt_app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label"
        tools:ignore="LockedOrientationActivity">
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.auth.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.auth.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.auth.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.auth.StartedActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.auth.OTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.auth.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.PostGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.PostGroupDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.PostSupplierActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.PostSupplierDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.FollowerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.UserManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.common.NotificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.SupplierActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.VendorProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.BankDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.StoreActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.CreateStoreActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.ProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.menu.CreateProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vendor.menu.LocationGoogleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.detail.CollectOrderDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.detail.DeliverOrderDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.ads.CreatePostActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.ads.CreateFeaturedStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.ads.CreateStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.ads.CreatePromotionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.product.ProductSelectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.product.ProductBuyGetSelectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.product.ProductPromoteSelectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.detail.SingleProductDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.detail.DealDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.detail.StoreCommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.vendor.detail.StoreCommentReplyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

<!--        *************supplier***************                      -->
        <activity
            android:name=".view.supplier.main.MainSupplierActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.promote.CreatePaytoPromoteActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.ads.CreateAdvertActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.ads.CreateFeaturedBrandActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.promote.PromoteDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.promote.PromoteStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.promote.PromoteCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.promote.PromoteCommentReplyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.menu.BrandActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.menu.CreateBrandActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.menu.FollowerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.menu.VendorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.supplier.menu.SupplierProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_splash_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/txt_channel_id" />

        <service
            android:name=".service.AlarmService"
            android:foregroundServiceType="location"
            android:process=":remote"/>

        <receiver
            android:name=".service.AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>