.labor-setting-container {
    color: #dbdbdb;
    border-radius: 5px;
}

.labor-select-title {
    color: rgb(241, 241, 241);
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.labor-select {
    width: 200px;
    color: #eeeeee !important;
}

.labor-select>.ant-select-arrow {
    color: #eeeeee !important;
}

.labor-select-dropdown {
    background-color: #353535 !important;
    color: black !important;
}

.labor-select>.ant-select-selector {
    background-color: transparent !important;
}


.labor-select-value {
    color: #eeeeee !important;
    background-color: #353535 !important;
}

.labor-select-value:hover {
    background-color: #575757 !important;
}

.labor-select-value:active {
    color: #1e1e1e !important;
}

.labor-description-style {
    background-color: transparent !important;
    color: #eeeeee !important;
    width: 400px !important;
}


.labor-description-title {
    color: rgb(241, 241, 241);
    font-size: 16px;
    margin-right: 10px;
    display: block;
    width: 150px !important;
    margin-bottom: 5px;
}

.labor-update-button {
    width: 120px;
    color: rgb(243, 243, 243) !important;
    font-size: 14px;
    margin: 0px 20px 0px 20px;
    padding:0px 30px  !important;
    border-radius: 5px;
}

