.current-part-notes-layout {
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #363636 0%, var(--backgroundColor) 100%);
}


.current-part-notes-title{
  color: rgb(44, 128, 255);
  font-size: 15px;
}

.current-part-notes-textarea {
  margin-top: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}