.export-hennig-csv-modal{

}

.export-hennig-csv-modal {
    /* background-color: #1e1e1e !important; */
}

.export-hennig-csv-modal>* .ant-modal-header {
    background-color: #1e1e1e !important;
    color: #eeeeee !important;
}

.export-hennig-csv-modal>* .ant-modal-title {
    background-color: #1e1e1e !important;
    color: #eeeeee !important;
}

.export-hennig-csv-modal>.ant-modal-content {
    background-color: #1e1e1e !important;
    color: #eeeeee !important;
}

.export-hennig-csv-modal>* .ant-modal-footer {
    background-color: #1e1e1e !important;
    color: #eeeeee !important;
}

.export-hennig-csv-modal-body-container {
    width: 100%;
}

.export-hennig-csv-modal-image-upload-container {
    min-height: 100px;
    width: 100% !important;
    text-align: center !important;
}
