.settings-process-monitor-layout {
  margin: 10px 15px 0px 15px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #363636 0%,
    var(--backgroundColor) 70%,
    var(--backgroundColor) 100%
  );
  color: var(--whiteColor);
}

.settings-process-monitor-title {
  margin: 30px;
  line-height: 60px;
  font-size: 21px;
}

.settings-process-monitor-content {
  background-color: transparent;
  margin-left: 25px;
}

.app-setting-process-monitor-option {
  width: 100% !important;
  padding-left: 30px;
  padding-right: 30px;
}

.app-setting-process-monitor-option-item {
  height: 30px !important;
  color: white;
}

.app-setting-process-monitor-option > * .ant-radio-checked > .ant-radio-inner {
  border-color: transparent;
}
