.customerlogo-title-style {
    color: #eeeeee !important;
    display: inline-block;
    margin-right: 10px !important;
}

.customerlogo-value-container-style {
    display: inline-block;
    margin: 0 !important;
}

.customerlogo-value-style {
    background-color: transparent !important;
    color: #eeeeee !important;
    width: 300px !important;
}